<h1>Make a tamagochi</h1>
<p>Create a new task:</p>

<div>
<form action="/pet_info" method="post">
  <label for="name">Pet Name</label>
  <input id="name" name="name" type="text">

  <label for="food_level">Food Level</label>
  <input id="food_level" name="food_level" type="text">

  <label for="sleep_level">Sleep Level</label>
  <input id="sleep_level" name="sleep_level" type="text">

  <label for="activity_level">Activity Level</label>
  <input id="activity_level" name="activity_level" type="text">

  <button type="submit">Submit</button>
</form>
</div>
